<h1>EDIT <%= @post.title %></h1>
<form action="<%= post_url %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="title">Title</label>
  <input type="text" name="post[title]" value="<%=@post.title%>">
  <label for="URL">URL</label>
  <input type="text" name="post[url]" value="<%=@post.url%>">
  <label for="">Content</label>
  <textarea name="post[content]"><%=@post.content%></textarea>

  <input type="submit">




</form>
